<figure>
  <a class="p-4 flex flex-row items-center" href="{{ site.url }}" title="{{ site.title }}">
    <h1 class="text-3xl tracking-tight" style="font-size: {{ site.logo_title_size.toInt }}px;">{{ site.title }}</h1>
  </a>
</figure>